@{
    ViewData["Title"] = "Home Page";
}

<style>
    body{
        background: linear-gradient(135deg, #e9ecf7, #dfe3f0);
    }
</style>
<div class="text-center" >
    <h1 class="display-4 fw-bold text-decoration-underline">Welcome to CarManagementMVC</h1>
    <p>Start By <a href="/Cars/Index"> Creating</a> an Account.</p>
</div>
