@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>
<style>
    body {
        background: linear-gradient(135deg, #e9ecf7, #dfe3f0);
    }
</style>
<p>Use this page to detail your site's privacy policy.</p>
