@{
    ViewData["Title"] = "Services";
}

<h2 class="mb-3">Services</h2>

<div class="accordion" id="accordionExample">
    <div class="accordion-item">
        <h2 class="accordion-header" id="headingOne">
            <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                Consulting
            </button>
        </h2>
        <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
            <div class="accordion-body">
                <div class="card" style="width: 18rem;">
                    <img src="https://media.telanganatoday.com/wp-content/uploads/2022/01/Image-consulting.jpg" class="card-img-top" alt="..."
                         style="height: 200px;
                    object-fit: cover;">
                    <div class="card-body">
                        <h5 class="card-title">Consulting</h5>
                        <p class="card-text">Our Company provides some Consulting Services.</p>
                        <a href="/Services/Consulting" class="btn btn-primary">Check Out</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="accordion-item">
        <h2 class="accordion-header" id="headingTwo">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                Training
            </button>
        </h2>
        <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo" data-bs-parent="#accordionExample">
            <div class="accordion-body">
                <div class="card" style="width: 18rem;">
                    <img src="https://img.freepik.com/premium-photo/training-webinar-elearning-skills-business-internet-technology-concept_628331-409.jpg?w=360" class="card-img-top" alt="..." style="height: 200px;
                    object-fit: cover;">
                    <div class="card-body">
                        <h5 class="card-title">Training</h5>
                        <p class="card-text">Our Comapny Provide some Training Services.</p>
                        <a href="/Services/Training" class="btn btn-primary">Check Out</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>