
@{
    ViewData["Title"] = "Index";
}
<div class="text-center">
    <h1>Welcome to the Cart</h1>
    <h3>Before Discount : @ViewBag.Total</h3> 
    <h3>Discount Applied : WINTER25</h3>
    <h3>After Discount : @ViewBag.FinalTotal</h3>
</div>


