@{
    ViewData["Title"] = "Index";
}
<div class="text-center">
    <h1>Welcome to the Products Section</h1>
    <h3>Price = @ViewBag.price</h3>
    <h3>WINTER25 Discount = @ViewBag.winter</h3>
    <h3>FREESHIP Discount = @ViewBag.freeship</h3>
</div>



