@{
    ViewData["Title"] = "Tools";
}

<h2 class="mb-4">Tools</h2>

<table class="table table-striped table-bordered">
    <thead class="table-dark">
        <tr>
            <th>Tool</th>
            <th>Type</th>
            <th>Status</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Mouse</td>
            <td>Power Tool</td>
            <td>
                <span class="badge bg-success">Available</span>
            </td>
        </tr>

        <tr>
            <td>Blue Cut Glasses</td>
            <td>Power Tool</td>
            <td>
                <span class="badge bg-danger">Out of Stock</span>
            </td>
        </tr>

        <tr>
            <td>Desk Mat</td>
            <td>Hand Tool</td>
            <td>
                <span class="badge bg-success">Available</span>
            </td>
        </tr>
    </tbody>
</table>