@{
    ViewData["Title"] = "Courses";
}
<h1>@ViewData["Title"]</h1>

<p>
    <h3>We are Providing different Courses:</h3>
    <ul>
        <li>B.E. CSE </li>
        <li>B.E. Aerospace </li>
        <li>B.E. Mechanical</li>
        <li>BCA</li>
        <li>MBA</li>
        <li>.NET Core with Azure</li>

    </ul>
    
</p>
