
@{
    ViewData["Title"] = "Index";
}
<div class="container border border-2">
    
    <h1 class="fw-bold">Cart Index</h1>
    <h5>Total Amount - @ViewBag.BeforeDiscount</h5>
    <h5>Discount Applied - @ViewBag.code</h5>
    <h5>After Discount - @ViewBag.FinalTotal</h5>
    <a href="https://localhost:7285/Products/Index">Back to Products</a>
</div>


