
@{
    ViewData["Title"] = "Index";
}
<div class="container border-1 text-center">
    
    <h1>Cart Index</h1>
    <h3>Total Amount - @ViewBag.BeforeDiscount</h3>
    <h3>Discount Applied - WINTER25</h3>
    <h3>After Discount - @ViewBag.FinalTotal</h3>

   
    
</div>


