
@{
    ViewData["Title"] = "Index";
}

<h1>Market Index</h1>

<div class="alert alert-dark"><h3>Market Status :@ViewBag.marketStatus</h3></div>
<div class="alert alert-dark"><h3>TopGainer : @ViewData["TopGainer"]  Volume : @TempData["Volume"]</h3></div>


