
@{
    ViewData["Title"] = "Index";
}

<div class="container border-1 text-center">
    
    <h1>Product Index</h1>
    <h3>Total Amount - @ViewBag.Price</h3>
    <h3>Discount Applied - WINTER25</h3>
    <h3>After Discount - @ViewBag.winter</h3>
    <h3>Discount Applied - FREESHIP</h3>
    <h3>After Discount - @ViewBag.freeship</h3>

  
</div>

