@{
    ViewData["Title"] = "About";
}

<h2 class="mb-3">About Us</h2>

<div class="alert alert-primary" role="alert">
    You are on the About Page.
</div>

<ul class="list-group">
    <li class="list-group-item">Company Portal developed using ASP.NET MVC</li>
    <li class="list-group-item">Uses Bootstrap for responsive design</li>
    <li class="list-group-item">Includes Products, Services, and Contact pages</li>
</ul>